{% extends "base.html" %}
{% block title %}Downloader{% endblock %}

{% block content %}
<div class="subcontainer" style="margin-top:100px">
    <form id="downloadForm" method="POST">
        <h3 align="center">Downloader</h3>
        <div class="form-group">
            <label for="ytlink">YouTube Link</label>
            <input type="text" class="form-control" id="ytlink" name="ytlink" placeholder="Enter YouTube link">
        </div>
        <br>
        <button style="margin: 0 auto; display: block;" type="submit" class="btn btn-primary">Download</button>
    </form>
</div>
<div class="ring" id="loadingScreen" style="display:none">Loading
  <span class="spanner"></span>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
